.bobby/
.fabric/
.replay_cache/
audioplayer_uploads/
backup/
crash-reports/
data/
defaultconfigs/
emotes/
logs/
modernfix/
ModTranslations/
music_sheets/
replay_recordings/
saves/
schematics/
screenshots/
server-resource-packs/
XaeroWaypoints/
XaeroWaypoints_BACKUP*/
XaeroWorldMap/

emi.json
irisUpdateInfo.json
profile.json
servers.dat
servers.dat_old
usercache.json
usernamecache.json

config/litematica/
config/NoChatReports/
config/litematica.json
config/screenshot_viewer-client.json
config/xaerominimap.txt